body {
    text-align: center;
    background-color: #252422;
    max-width: 480px;
    padding: .25rem;

}
.container {
    padding: .6rem;
    margin: 1.2rem auto;
    max-width: 480px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.ingredients {
    color: #FFFFFF;
    margin: 0 auto;
    padding: .6rem;
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    max-width: 300px;
    overflow-x: auto;
    font-size: .8rem;
}
.name {
    font-size: 1.75rem;
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    color: #eea40f;
}
.price {
    font-size: 1.5rem;
    font-weight: 600;
    margin: .35rem;
    font-family: 'Lora', sans-serif;
    color: white;
}
.navbar {
    display: flex;
    padding: .65rem;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #252422;
    
}
.nav-menu {
    padding: .65rem 1.25rem;
    flex-grow: 1;
    width: 100%;
    font-family: 'Lora', sans-serif;
    background-color:white;
    margin: .25rem;
    border-radius: 30px;
    color: #eea40f;
    border: 1px solid #eea40f;;
}
.nav-menu:hover {
    color: white;
    background-color: #eea40f;
}
.hide {
    display: none;
}
h1 {
    font-family:  'Playfair Display', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    color: #eea40f;
    text-shadow: 1px 1px 2px white;
}
.content {
    max-width: 480px;
    height: 100%;
    animation: wave-animation 1s linear infinite;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content::before {
    content: 'Napoli';
    color: #eea40f;
    width: 100%;
    height: 100%;
    background-color: #252422;
    opacity: 0.1;
    z-index: -1;
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 3px 3px 3px white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content::after{
    content: 'loundge bar';
    color: #ffffff;
    opacity: 0.6;
    z-index: -1;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    top: 315px;
    left: 230px;
}

@keyframes wave-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
  }