body {
    text-align: center;
    background-color: #252422;
    max-width: 480px;
    padding: .25rem;

}
.container {
    padding: .6rem;
    margin: 1.2rem auto;
    max-width: 480px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.name {
    font-size: 1.75rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    color: #eea40f;
    margin: .5rem;
}
.price {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Lora', sans-serif;
    color: #FFFFFF;
    margin: 0;
}
.ingredients {
    color: #FFFFFF;
    padding: .6rem;
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    max-width: 300px;
    overflow-x: auto;
    font-size: .8rem;
    margin: 0;
}
.navbar {
    display: flex;
    padding: .65rem;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #252422;
    
}
.nav-menu {
    padding: .65rem 1.25rem;
    flex-grow: 1;
    width: 100%;
    font-family: 'Lora', sans-serif;
    background-color: #FFFFFF;
    margin: .25rem;
    border-radius: 30px;
    color: #eea40f;
}
.nav-menu:hover {
    color:  #FFFFFF;
    background-color: #eea40f;
}
.hide {
    display: none;
}
h1 {
    font-family:  'Playfair Display', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    color: #eea40f;
}
.content {
    animation: wave-animation 1s linear infinite;
    position: relative;
    background-image: url('images/logo.png');
    background-size: cover;
    width: 200px;
    height: 140px;
    border: 2px solid #363431;
    border-radius: 2px;
    margin: 10rem auto;
}
.content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.82;
    z-index: -1;
    background-color: #252422;
    left: -0%;
}
/* .content {
    max-width: 480px;
    height: 100%;
    animation: wave-animation 1s linear infinite;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* }
.content::before {
    content: 'Napoli';
    color: #eea40f;
    width: 100%;
    height: 100%;
    background-color: #252422;
    opacity: 0.1;
    z-index: -1;
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 3px 3px 3px #FFFFFF;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content::after { 
    content: 'loundge bar';
    color:  #FFFFFF;
    opacity: 0.6;
    z-index: -1;
    font-size: 1rem;
    font-weight: 700;
    position: fixed;
    top: 55%;
    left: 71.5%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #eea40f;
} */

@keyframes wave-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .food-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: .75rem
}